<head th:replace="~{Shared/Layout::common_head(~{::title}, ~{::link})}">
    <title>Asociar</title>
    <link rel="stylesheet" th:href="@{/css/tabulator.min.css}">
</head>

<body th:replace="~{Shared/Layout::common_layout(~{::section}, ~{::script})}">
<section class="container">
    <h1 class="text-center fw-bold">Asociar Items A Muestras</h1>
    <div class="col-12 col-md-6 px-2 py-3">
        <select id="idUnidadMedida" name="idUnidadMedida" class="form-select" required>
            <option value="" selected>Seleccionar...</option>
            <option th:each="item : ${itemList}" th:value="${item.getKey()}" th:text="${item.getValue()}"></option>
        </select>
    </div>

    <div  class="cart">
        <article id="article_table_items"  class="">
            <h1 class="text-center fw-bold">ITEM ASOCIADOS</h1>
            <table id="table_muestras" class="m-3 table-light table-hover">
                <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">ITEM ASOCIADO</th>
                    <th class="text-center">SOLICITUD</th>
                    <th class="text-center">ACCIONES</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${itemAsociados}" >

                    <td th:text="${item.}"></td>
                    <td th:text="${}"></td>
                    <td th:text="${muestra.getTipoMuestra().getNombre()}"></td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>

</section>
<script th:src="@{/js/tabulator.min.js}"></script>
<script th:src="@{/js/muestras.js}"></script>
</body>