<head th:replace="~{Shared/Layout::common_head(~{::title}, ~{::link})}">
  <title>Listar Solicitud</title>
  <link rel="stylesheet" th:href="@{/css/tabulator.min.css}">
</head>

<body th:replace="~{Shared/Layout::common_layout(~{::section}, ~{::script})}">
<section class="container">
  <div  class="cart">
    <article id="article_table_items" >
      <h1 class="text-center fw-bold">MUESTRAS</h1>

      <div class="alert alert-success alert-dismissible fade show" th:if="${mensaje != null}" role="alert">
        <p th:text="${mensaje}" class="fw-bold">mensaje de eliminacion de muestras</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div>
        <button id="download-xlsx" class="btn btn-excel">
          <i class="fas fa-file-excel"></i> Descargar Excel
        </button>
        <button id="download-pdf" class="btn btn-pdf">
          <i class="fas fa-file-pdf"></i> Descargar PDF
        </button>
      </div>
      <table id="table_muestras" class="m-3 table-light table-hover">
        <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">CODIGO</th>
          <th class="text-center">TIPO MUESTRA</th>
          <th class="text-center">NO. SOLICITUD</th>
          <th class="text-center">PRESENTACION</th>
          <th class="text-center">U.M.</th>
          <th class="text-center">ITEMS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="muestra: ${muestras}">
          <td th:text="${muestra.getId()}"></td>
          <td th:text="${muestra.getCodigoMuestra()}"></td>
          <td th:text="${muestra.getTipoMuestra().getNombre()}"></td>
          <td th:text="${muestra.getSolicitud().getCodigoSolicitud()}"></td>
          <td th:text="${muestra.getPresentacion()}"></td>
          <td th:text="${muestra.getUnidadMedida().getNombre().toUpperCase()}"></td>
          <td th:text="${muestra.getItemMuestraList().size()}"></td>
        </tr>
        </tbody>
      </table>
    </article>
  </div>
</section>
<script th:src="@{/js/tabulator.min.js}"></script>
<script th:src="@{/js/muestras.js}"></script>
<script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.20/jspdf.plugin.autotable.min.js"></script>
</body>