<head th:replace="~{Shared/Layout::common_head(~{::title}, ~{::link})}">
  <title>Listar Solicitud</title>
  <link rel="stylesheet" th:href="@{/css/tabulator.min.css}">
</head>

<body th:replace="~{Shared/Layout::common_layout(~{::section}, ~{::script})}">
<section class="container">
  <div  class="cart">
    <article id="article_table_items"  class="">
      <h1 class="text-center fw-bold">MUESTRAS</h1>
      <table id="table_muestras" class="m-3 table-light table-hover">
        <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">CO. MUESTRA</th>
          <th class="text-center">TIPO MUESTRA</th>
          <th class="text-center">CO. SOLICITUD</th>
          <th class="text-center">NO. EXPEDIENTE</th>
          <th class="text-center">NIT</th>
          <th class="text-center">PRESENTACION</th>
          <th class="text-center">FECHA SOLICITUD</th>
          <th class="text-center">FECHA</th>
          <th class="text-center">U MEDIDA</th>
          <th class="text-center">ITEMS</th>
          <th class="text-center">ACCIONES</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="muestra: ${muestras}">
          <td th:text="${muestra.getId()}"></td>
          <td th:text="${muestra.getCodigoMuestra()}"></td>
          <td th:text="${muestra.getTipoMuestra().getNombre()}"></td>
          <td th:text="${muestra.getSolicitud().getCodigoSolicitud()}"></td>
          <td th:text="${muestra.getSolicitud().getCliente().getNumeroExpediente()}"></td>
          <td th:text="${muestra.getSolicitud().getCliente().getNit()}"></td>
          <td th:text="${muestra.getPresentacion()}"></td>
          <td th:text="${muestra.getSolicitud().getFechaRecepcion()}"></td>
          <td th:text="${muestra.getFechaCreacion()}"></td>
          <td th:text="${muestra.getUnidadMedida().getNombre().toUpperCase()}"></td>
          <td th:text="${muestra.getItemMuestraList().size()}"></td>
        </tr>
        </tbody>
      </table>
    </article>
  </div>
</section>
<script th:src="@{/js/tabulator.min.js}"></script>
<script th:src="@{/js/muestras.js}"></script>
</body>