<!doctype html>
<html lang="es" >
<head th:fragment="common_head(title)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
    <title th:replace="${title}">The awesome application</title>
</head>
<body th:fragment="common_layout(main)">
    <header>
        <nav th:replace="~{Shared/Components/NavBar ::common-header}">
            <!--    aqui se renderizara el navbar -->
        </nav>
    </header>
    <main class="mt-5 py-5">
        <section th:replace="${main}">
            <!--    aqui se renderizaran todas las paginas -->
        </section>
    </main>
    <script th:src="@{/webjars/bootstrap/5.1.1/js/bootstrap.min.js}"></script>
</body>
</html>