<head th:replace="~{Shared/Layout::common_head(~{::title}, ~{::link})}">
    <title>Listar Solicitud</title>
    <link rel="stylesheet" th:href="@{/css/tabulator.min.css}">
</head>

<body th:replace="~{Shared/Layout::common_layout(~{::section}, ~{::script})}">
    <section class="container">
        <div class="alert alert-danger" th:if="${mensaje !=null}" role="alert">
            <label th:text="${mensaje}"><span aria-hidden="true">&times;</span></label>
        </div>
        <div  class="cart">
            <article id="article_table_items"  class="">
                <h1 class="text-center fw-bold">SOLICITUDES</h1>
                <div>
                    <button id="download-xlsx" class="btn btn-excel">
                        <i class="fas fa-file-excel"></i> Descargar Excel
                    </button>
                    <button id="download-pdf" class="btn btn-pdf">
                        <i class="fas fa-file-pdf"></i> Descargar PDF
                    </button>
                </div>
                <table id="table_soli" class="m-3 table-light table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>CODIGO</th>
                            <th>NO SOPORTE</th>
                            <th>CORREO</th>
                            <th>OBSERVACIÓN</th>
                            <th>FECHA DE RECEPCIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="solicitud: ${solicitudes}">
                            <td th:text="${solicitud.getId()}"></td>
                            <td th:text="${solicitud.getCodigoSolicitud()}"></td>
                            <td th:text="${solicitud.getNumeroSoporte()}"></td>
                            <td th:text="${solicitud.getCorreo()}"></td>
                            <td th:text="${solicitud.getObservacion()}"></td>
                            <td th:text="${solicitud.getFechaRecepcion()}"></td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Acciones para esta solicitud!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="render-actions">
    <!--                    Aqui se renderizaran las acciones de las solicitudes ver js-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/js/tabulator.min.js}"></script>
    <script th:src="@{/js/solicitudes.js}"></script>
    <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.20/jspdf.plugin.autotable.min.js"></script>
</body>