<head th:replace="~{Shared/Layout::common_head(~{::title}, ~{::link})}">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/tabulator.min.css}">
</head>

<body th:replace="~{Shared/Layout::common_layout(~{::section}, ~{::script})}">
   <section class="container">
       <h1 class="text-center fw-bold">Catálogos Disponibles</h1>
       <div class="col-12 col-md-6 px-2 py-3">
           <select class="form-select" aria-label="Default select example" id="select_Catalogos">
           </select>
       </div>
       <div  class="cart">
          <article id="article_0" class="d-none">
              <h3 class="text-danger text-center fw-bold">No Se Ha Seleccionado Ningún Cátalogo</h3>
          </article>
          <article id="article_table_items"  class="">
              <h2 class="text-center fw-bold">Lista de Items</h2>
              <table id="table_items" class="m-3 table-light table-hover">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>NOMBRE</th>
                          <th>DESCRIPCIÓN</th>
                          <th>FECHA CREACIÓN</th>
                          <th>FECHA MODIFICACIÓN</th>
                      </tr>
                  </thead>
                  <tbody>
                  <tr th:each="item : ${items}">
                      <td th:text="${item.getId()}"></td>
                      <td th:text="${item.getNombre()}"></td>
                      <td th:text="${item.getDescripcion()}"></td>
                      <td th:text="${item.getFechaCreacion()}"></td>
                      <td th:text="${item.getFechaActualizacion()}"></td>
                  </tr>
                  </tbody>
              </table>
          </article>
          <article id="article_table_items2" class="d-none">
              <h2 class="text-center fw-bold">Lista de Roles</h2>
              <table id="table_items2" class="m-3 table-light table-hover">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>NOMBRE</th>
                          <th>DESCRIPCIÓN</th>
                          <th>FECHA CREACIÓN</th>
                          <th>FECHA MODIFICACIÓN</th>
                      </tr>
                  </thead>
                  <tbody>
                  <tr th:each="roles : ${roles}">
                      <td th:text="${roles.getId()}"></td>
                      <td th:text="${roles.getNombre()}"></td>
                      <td th:text="${roles.getDescripcion()}"></td>
                      <td th:text="${roles.getFechaCreacion()}"></td>
                      <td th:text="${roles.getFechaActualizacion()}"></td>
                  </tr>
                  </tbody>
              </table>
          </article>
          <article id="article_table_items3" class="d-none">
              <h2 class="text-center fw-bold">Lista de Estados</h2>
              <table id="table_items3" class="m-3 table-light table-hover">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>NOMBRE</th>
                          <th>DESCRIPCIÓN</th>
                          <th>FECHA CREACIÓN</th>
                          <th>FECHA MODIFICACIÓN</th>
                      </tr>
                  </thead>
                  <tbody>
                  <tr th:each="estados : ${estados}">
                      <td th:text="${estados.getId()}"></td>
                      <td th:text="${estados.getNombre()}"></td>
                      <td th:text="${estados.getDescripcion()}"></td>
                      <td th:text="${estados.getFechaCreacion()}"></td>
                      <td th:text="${estados.getFechaActualizacion()}"></td>
                  </tr>
                  </tbody>
              </table>
          </article>
           <article id="article_table_items4" class="d-none">
               <h2 class="text-center fw-bold">Lista de Tipos de Examen</h2>
               <table id="table_items4" class="m-3 table-light table-hover">
                   <thead>
                       <tr>
                           <th>ID</th>
                           <th>NOMBRE</th>
                           <th>DESCRIPCIÓN</th>
                           <th>FECHA CREACIÓN</th>
                           <th>FECHA MODIFICACIÓN</th>
                       </tr>
                   </thead>
                   <tbody>
                   <tr th:each="tipos_examen : ${tipoExamenes}">
                       <td th:text="${tipos_examen.getId()}"></td>
                       <td th:text="${tipos_examen.getNombre()}"></td>
                       <td th:text="${tipos_examen.getDescripcion()}"></td>
                       <td th:text="${tipos_examen.getFechaCreacion()}"></td>
                       <td th:text="${tipos_examen.getFechaModificacion()}"></td>
                   </tr>
                   </tbody>
               </table>
           </article>
           <article id="article_table_items5" class="d-none">
               <h2 class="text-center fw-bold">Lista de Tipos de Muestra</h2>
               <table id="table_items5" class="m-3 table-light table-hover">
                   <thead>
                       <tr>
                           <th>ID</th>
                           <th>NOMBRE</th>
                           <th>DESCRIPCIÓN</th>
                           <th>FECHA CREACIÓN</th>
                           <th>FECHA MODIFICACIÓN</th>
                       </tr>
                   </thead>
                   <tbody>
                   <tr th:each="tipos_muestra : ${tipoMuestras}">
                       <td th:text="${tipos_muestra.getId()}"></td>
                       <td th:text="${tipos_muestra.getNombre()}"></td>
                       <td th:text="${tipos_muestra.getDescripcion()}"></td>
                       <td th:text="${tipos_muestra.getFechaCreacion()}"></td>
                       <td th:text="${tipos_muestra.getFechaActualizacion()}"></td>
                   </tr>
                   </tbody>
               </table>
           </article>
           <article id="article_table_items6" class="d-none">
               <h2 class="text-center fw-bold">Lista de Unidades de Medida</h2>
               <table id="table_items6" class="m-3 table-light table-hover">
                   <thead>
                       <tr>
                           <th>ID</th>
                           <th>NOMBRE</th>
                           <th>DESCRIPCIÓN</th>
                           <th>FECHA CREACIÓN</th>
                           <th>FECHA MODIFICACIÓN</th>
                       </tr>
                   </thead>
                   <tbody>
                   <tr th:each="unidades_medida : ${unidadMedidas}">
                       <td th:text="${unidades_medida.getId()}"></td>
                       <td th:text="${unidades_medida.getNombre()}"></td>
                       <td th:text="${unidades_medida.getDescripcion()}"></td>
                       <td th:text="${unidades_medida.getFechaCreacion()}"></td>
                       <td th:text="${unidades_medida.getFechaModificacion()}"></td>
                   </tr>
                   </tbody>
               </table>
           </article>
       </div>
   </section>
   <script th:src="@{/js/catalogs.js}"></script>
   <script th:src="@{/js/tabulator.min.js}"></script>
</body>